body {
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 80px;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 calc(100vh - 160px);
  align-items: center;
  justify-content: center;
}

footer {
  flex: 0 80px;
}

menu {
  display: flex;
  flex-direction: row !important;
}

.navbar-brand {
  padding-left: 1em;
}

.nav-item {
  padding-right: 1em;
}

.ghlink {
  padding: 0 1em;
}