.body {
  overflow: hidden;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: start;
  justify-content: start;
}

p {
  text-align: start !important;
}

.button-group {
  display: flex;
  flex-direction: row !important;
}