html, body {
  height: 100%;
}

body {
  overflow: hidden; /* Prevent body from scrolling */
}

main {
  flex: 1 0 auto;
  overflow-y: auto; /* Allow main content to scroll */
  padding-top: 80px; /* Adjust for fixed header height */
  margin: 1em;
}