.body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  flex: 0 0 auto;
  padding-bottom: 2em;
}

menu {
  display: flex;
  flex-direction: row !important;
}

.navbar-brand {
  padding-left: 1em;
}

.nav-item {
  padding-right: 1em;
}

.ghlink {
  padding: 0 1em;
}

.label-text {
  color: var(--bs-secondary);
}

@media (max-width: 400px) {  
  header {
    display: none;
  }
}

@media (max-height: 400px) {
  header {
    display: none;
  }
}